@using BLL.Educational_entities.Organization;
@using BLL.ViewModels;
@model CourseInfoViewModel

@{
	ViewData["Title"] = Model.CourseInfo.Name;
	Layout = "/Views/Shared/_Layout.cshtml";
	string avatarRoute = "/avatar/" + Model.AuthorNickName;
}

<div class="one-course-container">
	<div class="one-course-general-info boder-solid-2p-light bg-light-programe">
		<h3> @Model.CourseInfo.Name </h3>
		<div class="courses-additional-info gap7">
			<div class="course-charact @Model.Options.Level.ToString() course-level-border"> @Model.Options.Level </div>
            <div class="course-charact @Model.Options.Type.ToString()"> @Model.Options.Type </div>
                                
			@if (Model.Options.AdditionalInfo is not null)
			{
				foreach (var info in Model.Options.AdditionalInfo)
				{
					<div class="course-charact other-characters w100"> @info.Name </div>
				}
			}
		</div>
		<div class="course-author-content">
            <div>
				<img src="@avatarRoute" class="thumbnail author-thumbnail" />
            </div>
            <div class="author-info">
				@Html.ActionLink(Model.AuthorNickName, "View", "User", new { id = Model.AuthorId }, new { @class = "link-proj" })
			</div>
        </div>
		<div class="course-description-container"> 
			@{
				string htmlList = "";
				if (Model.CourseInfo.Description is not null)
				{
					htmlList = HelperHTML.GenerateUnorderedList(Model.CourseInfo.Description);
				}
			}
			@Html.Raw(htmlList)
		</div>
		@* TODO: При створенні юзерів додати так, щоб показувало відвідувати лише тоді, 
			коли користувач не відвідав курс *@
		<div class="course-buttons-container">
			<a href="#"> Відвідати </a>
		</div>
	</div>
	<div class="course-topic-container">
		@if (Model.Topics is null || Model.Topics.Count() == 0)
		{
			<div class="no-topics-container">
				<div class="no-topics-message"> На даний момент курс не має тем </div>
			</div>
		}
		else
		{
			foreach(var topic in Model.Topics)
			{
				<div class="topic-info-container bg-light-programe">
					<div class="topic-title">
						@Html.ActionLink(topic.Title, "View", "Topic", new { id = topic.Id }, new { @class = "link-proj" } )
					</div>
					<div> @topic.Description </div>
					<hr class="line" />
					<div> Кількість завдань в темі: @topic.Tasks?.Count() </div>
				</div>
			}
		}
	</div>
</div>