<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="upper-menu-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav-links-flex">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav-bar-proj">
                        <ul class="navbar-nav flex-grow-1 gap15">
                            <li class="navbar-item nav-item-hv">
                                <a class="nav-link text-dark menu-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="navbar-item nav-item-hv">
                                <div class="nav-link text-dark menu-item"> Курси </div>
                                <div class="sub-menu">
                                    <ul style="padding: 0;">
                                        <li class="hover-item">
                                            <div class="arrow">a</div>
                                            @Html.ActionLink("Мої курси", "Index", "Courses", new { }, new { @class = "nav-link text-dark link-item" })
                                        </li>
                                         <li class="hover-item">
                                            <div class="arrow">a</div>
                                            @Html.ActionLink("Інші", "Index", "Courses", new { }, new { @class = "nav-link text-dark link-item" })
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar-item nav-item-hv">
                                <div class="nav-link text-dark menu-item"> Завдання </div>
                                <div class="sub-menu">
                                    <ul style="padding: 0;">
                                        <li class="hover-item">
                                            <div class="arrow">a</div>
                                            @Html.ActionLink("Незавершені", "Index", "Courses", new { }, new { @class = "nav-link text-dark link-item" })
                                        </li>
                                         <li class="hover-item">
                                            <div class="arrow">a</div>
                                            @Html.ActionLink("Завершені", "Index", "Courses", new { }, new { @class = "nav-link text-dark link-item" })
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="navbar-item nav-item-hv">
                                <a class="nav-link text-dark menu-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                                                        <li class="navbar-item nav-item-hv">
                                <a class="nav-link text-dark menu-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                                                        <li class="navbar-item nav-item-hv">
                                <a class="nav-link text-dark menu-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="login-signup">

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*//TODO: Перенести футер лише на сторінку privacy*@
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
